<%- include('../partials/header') %>

  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Tables</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  view admins
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-0">Admin Details</h5>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Password</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Hobbys</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Update</th>
                </tr>
              </thead>
              <tbody>
                <% data.map((admin,index)=>{
                  let {image,name,email,password,gender,hobby,id}=admin %>

                  <tr>
                    <td>
                      <img src="<%= image %>" alt="<%= name %>" height="100px" width="100px" />
                    </td>
                    <td>
                      <%= name %>
                    </td>
                    <td>
                      <%= email %>
                    </td>
                    <td>
                      <%= password %>
                    </td>
                    <td>
                      <%= gender %>
                    </td>
                    <td>
                      <%= hobby %>
                    </td>
                    <td><a href="/delete_admin/<%= id %>">Delete</a></td>
                    <td><a href="/edit_admin/<%= id %>">Edit</a></td>

                  </tr>

                  <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Right sidebar -->
      <!-- ============================================================== -->
      <!-- .right-sidebar -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
    </div>
  </div>
  <%- include('../partials/footer') %>